* {
	box-sizing: border-box ;
}
body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../images/cork-wallet.png");
	width: 960px;
}

header {
	height: 80px;
	background-color: white;

}

h1 {
	border: 1px solid #dddddd;
	background-color: #4aaaa5;
	width: 300px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: white;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	margin: 0 0 0 15px;
	padding: 22px;
	float: left;
}

ul.navigation {
	margin: 0;
	padding: 0;
	height: 80px;
	float: right;
}

ul.navigation li {
	height: auto;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	list-style-type: none;
	margin: 40px 0 20px 0;
	padding: 0px 17px 0px 17px;
	display: inline;
	float: left;
	text-align: left;
	border-right: 1px solid grey;
}

ul.navigation li a {
	text-decoration: none;
	color: grey;
}

#last {
	border-right: none;
	margin-right: 20px;
}

.container {
	height: auto;
	width: 960px;
	clear: both;
}

h2 {
	color: #4aaaa5;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: left;
	font-size: 32px;
	font-weight: bold;
	margin: 20px;
	padding: 20px;
	border-bottom: 3px solid #dddddd;
}

h3 {
	color: #4aaaa5;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: auto;
	padding: 20px;
	border-bottom: 2px solid #dddddd;
}

#main-bio {
	float: left;
	width: 650px;
	margin: 20px 10px 20px 15px;
	border: 1px solid #dddddd;
	padding: 20px;
	background-color: white;
}

#bio-image {
	/*float: left;*/
	width: 400px;
	/*height: 233px;*/
	padding: 6px 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

span.timeline{
	font-weight: bold;
	font-size: 20px;
}

p.aboutme {
	font-size: 18px;
	text-align: left;
	line-height: 1.5em;
	margin: 0 20px;
	padding: 0 10px;
}


#contact-info {
	background-color: white;
	float: left;
	margin: 20px 15px 20px 0px;
	width: 270px;
	padding: 20px;
	border: 1px solid #dddddd;
}

ul#contact {
	padding: 19px;

}

ul#contact li {
	list-style: none; 
	display: flex;
	width: auto;
	float: left;
	padding: 1px;
	margin: 0;
}

.footer {
	text-align: center;
	background-color: #666666;
	display: block;
	clear: both;  
	border-top: 10px solid #4aaaa5;
	padding: 30px;
	color: white;
}

@media screen and (max-width: 980px) {
	

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {

}