* { 
	box-sizing: border-box;
}
body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../images/cork-wallet.png");
}

header {
	height: 80px;
	background-color: white;
}

h1 {
	border: 1px solid #dddddd;
	background-color: #4aaaa5;
	width: 250px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: white;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	margin: 0 0 0 100px;
	padding: 26px;
	float: left;
}

ul.navigation {
	margin: 0;
	padding: 0;
	height: 80px;
	float: right;
}

ul.navigation li {
	height: auto;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	list-style-type: none;
	margin: 30px 0 20px 0;
	padding: 0px 17px 0px 17px;
	display: inline;
	float: left;
	text-align: left;
	border-right: 1px solid grey;
}

ul.navigation li a {
	text-decoration: none;
	color: grey;
}

#last {
	border-right: none;
	margin-right: 100px;
}

.container {
	height: auto;
	width: 1200px;
	clear: both;
}

h2 {
	color: #4aaaa5;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: left;
	font-size: 28px;
	font-weight: bold;
	margin: 20px;
	padding: 20px;
	border-bottom: 3px solid #dddddd;
}

h3 {
	color: #4aaaa5;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	text-align: center;
	float: center;
	margin: auto;
	padding: 20px;
	border-bottom: 2px solid #dddddd;
}

#menu {
	float: left;
	width: 650px;
	margin: 20px 20px 20px 100px;
	border: 1px solid #dddddd;
	padding: 20px;
	background-color: white;
}

div.placeholder{
	margin-left: 30px;
	float: left;
	width: 260px;
	height: 196px;
	padding: 10px;
}

.placeholder-image {
	float: left;
	width: 260px;
	padding: 0px;
	position: relative;
}

h4 {
	position: absolute;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #4aaaa5;
	color: white;
	padding: 20px;
	width: 260px;
	font-size: 20px;
	text-align: center;
	margin-top: 120px;
}

#contact-info {
	background-color: white;
	float: left;
	margin: 20px 0px 20px 0px;
	width: 270px;
	padding: 20px;
	border: 1px solid #dddddd;
}

ul#contact {
	padding: 19px;
}

ul#contact li {
	list-style: none; 
	display: flex;
	width: auto;
	float: left;
	padding: 1px;
	margin: 0;
}

.footer {
	text-align: center;
	background-color: #666666;
	display: block;
	clear: both;
	border-top: 10px solid #4aaaa5;
	padding: 30px;
	color: white;
}

@media screen and (max-width: 980px) {
	body {width: 960px; }
	h1 {width: 300px; font-size: 35px; margin: 0 0 0 15px; padding: 22px;}
	ul.navigation li {margin: 40px 0 20px 0;}
	#last {margin-right: 20px;}
	.container {width: 960px; }
	h2 {font-size: 32px; }
	#menu{margin: 20px 10px 20px 15px; }
	div.placeholder{
		margin-left: 46px;
		width: 515px;
		height: 350px;
		padding: 0px;
		margin-bottom: 60px;
	}	
	.placeholder-image{
		position: absolute;
		float: left;
		width: 515px;
		height: 350px;
		padding: 0px;
		margin: 0px 0px 60px 0px;  
	}
	h4 {
		width: 515px;
		margin-top: 275px;
	}
	#contact-info{
		margin: 20px 15px 20px 0px;
	}
}

@media screen and (max-width: 768px) {
	body { width: 768px; }
	#menu {width: 735px;}
	div.placeholder {
		width: 300px;
		height: 200px;
		margin: 30px 0 30px 30px;
	}
	img.placeholder-image {
		width: 300px;
		height: 200px;
	}
	h4 {
		width: 300px;
		margin-top: 130px;
	}
	#contact-info {
		width: 735px;
		margin: 19px 0px 33px 15px;
	}
	ul#contact li {
		padding: 3px;
	}
	h3 {
		text-align: left;
		font-size: 28px;
	}
}

@media screen and (max-width: 640px) {
	header { position: static; }
	body { width: 640px; }
	h1 {
		width: 640px; 
		font-size: 60px;
		margin: 0;
	}
	ul.navigation {
		clear: both; 
		background-color: white; 
		float: none;
		font-size: 30px;
	}
	ul.navigation li {
		margin: 27px 7px 28px 38px;
		padding-right: 61px;
		padding-left: 11px;
	}
	#last {
		margin-right: 0;
	}
	#menu { width: 610px; }
	div.placeholder {
		width: 515px;
		height: 350px;
		margin-bottom: 40px;
		margin-left: 29px;
	}
	img.placeholder-image {
		width: 515px;
		height: 350px;
	}
	h4 {
		width: 515px;
		margin-top: 275px;
	}
	#contact-info {width: 610px;}
		div.placeholder {
	    margin-left: 29px;
	}
	h3 {font-size: 26px;}
}